body {
	font-family: 'Montserrat', sans-serif;
}
.body,
.sidebar {
	min-height: 100vh;
	overflow: auto;
	padding-bottom: 5rem;
}

.sidebar a.active {
	border-right: 3px solid #e0253f;
	color: #ef798a;
}

.bg-button {
	background-color: #ef798a;
	color: #fff;
}
.tabs {
	transition: all 0.2s ease-in-out;
}
.tabs:focus {
	outline: none;
}
.tabs.active {
	border-bottom: 2px solid #e0253f;
	/* border: none; */
}

.modal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background: #000;
	background: rgba(0, 0, 0, 0.3);
}

.modal input:focus {
	outline-color: #ef798a;
}

.modal form {
	width: 400px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	animation: slideDown 0.3s ease-in;
}

@keyframes slideDown {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.card {
	border-radius: 5px;
	background: white;
	width: 30%;
	padding: 20px;
}

/* CHECKBOX*/
.round {
	position: relative;
	margin-right: 20px;
	height: 100%;
	margin-top: -14px;
}

.round span {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
}

.round span:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: '';
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
}

.task + .task {
	margin-top: 1px;
}

.task button {
	outline: none;
}

.round input[type='checkbox'] {
	visibility: hidden;
}

.round input[type='checkbox']:checked ~ span {
	background-color: #66bb6a;
	border-color: #66bb6a;
}

.round input[type='checkbox']:checked ~ span:after {
	opacity: 1;
}

.navlink {
	cursor: pointer;
}
